.comming-soon {
  font-family: 'JetBrains Mono', monospace;
  color: #fff;
}

.loading-page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-image: url('./assets/logo-bg.png');
  background-size: 550px;
  background-repeat: no-repeat;
  background-position: 90% 30%;
}

#svg {
  height: 150px;
  width: 150px;
  stroke: #E7FF52;
  stroke-width: 8px;
  stroke: 3px;
  stroke-dasharray: 7000;
  animation: draw 8s ease;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 7000;
    fill-opacity: 0;
  }
  25% {
    fill-opacity: 0.25;
  }
  50% {
    fill-opacity: 0.50;
  }
  75% {
    fill-opacity: 0.75;
  }
  100% {
    fill-opacity: 1;
  }
}

.name-container {
  height: 50px;
  overflow: hidden;
}

.logo-name p {
  font-family: 'Krona One', sans-serif;
  color: #fff;
  letter-spacing: 1;
  font-size: 20px;
  text-align: center;
  margin-bottom: 6px;
}

.logo-name small {
  padding-top: 8px;
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
  color: #ccc;
}